/* Space out content a bit */
html, body {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 0px;
  padding-right: 0px;
}

/* Custom page header */
/* .header { */
/*   border-bottom: 1px solid #e5e5e5; */
/* } */
/* Make the masthead heading the same height as the navigation */
/* .header h3 { */
/*   margin-top: 0; */
/*   margin-bottom: 0; */
/*   line-height: 40px; */
/*   padding-bottom: 19px; */
/* } */

/* Custom page footer */
/* .footer { */
/*   padding-top: 19px; */
/*   color: #777; */
/*   border-top: 1px solid #e5e5e5; */
/* } */

/* Customize container */
/* @media (min-width: 768px) { */
/*   .container { */
/*     max-width: 730px; */
/*   } */
/* } */
/* .container-narrow > hr { */
/*   margin: 30px 0; */
/* } */

/* /\* Main marketing message and sign up button *\/ */
/* .jumbotron { */
/*   text-align: center; */
/*   border-bottom: 1px solid #e5e5e5; */
/* } */
/* .jumbotron .btn { */
/*   font-size: 21px; */
/*   padding: 14px 24px; */
/* } */

/* /\* Supporting marketing content *\/ */
/* .marketing { */
/*   margin: 40px 0; */
/* } */
/* .marketing p + h4 { */
/*   margin-top: 28px; */
/* } */

/* /\* Responsive: Portrait tablets and up *\/ */
/* @media screen and (min-width: 768px) { */
/*   /\* Remove the padding we set earlier *\/ */
/*   .header, */
/*   .marketing, */
/*   .footer { */
/*     padding-left: 0; */
/*     padding-right: 0; */
/*   } */
/*   /\* Space out the masthead *\/ */
/*   .header { */
/*     margin-bottom: 30px; */
/*   } */
/*   /\* Remove the bottom border on the jumbotron for visual effect *\/ */
/*   .jumbotron { */
/*     border-bottom: 0; */
/*   } */
/* } */

.container-fluid {
    height: 100%;
}

.sidebar-container {
    padding: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.container-fluid > div {
    height: 100%;
}
.columns {
    height: 100%;
}

.buysell-logo {
    height: 70px;
}

.logo-sepr {
    margin-top: 30px;
    height: 5px;
    width: 15px;
    background: #ff4c64;
    
}

.sidebar,
.sidebar-profile {
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: auto;
}

.sidebar div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar-profile div {
    margin-top: 2px;
    margin-bottom: 2px;
}

.sidebar a {
    font-size: 20px;
    font-weight: bold;
}

.sidebar a:link,
.sidebar a:visited,
.sidebar a:hover,
.sidebar a:active,
.sidebar-profile a:link,
.sidebar-profile a:visited,
.sidebar-profile a:hover,
.sidebar-profile a:active {
    text-decoration: none;
}

.sidebar a:link,
.sidebar a:visited {
    color: #000000;
}

.sidebar-profile a:link,
.sidebar-profile a:visited {
    color: #d5d6d7;
}


.sidebar a:hover,
.sidebar a:active,
.sidebar-profile a:hover,
.sidebar-profile a:active {
    color: #ff446a;
}

.sidebar-profile a {
    font-size: 17px;
    font-weight: bold;
}


.sidebar-sepr {
    margin-top: 15px;
    margin-bottom: 30px;
    height: 5px;
    width: 15px;
    background: #d4d4d7;
    
}

.content-container {
    background: #303133;
    height: 100%;
    margin: 0px;
    padding: 0px;

}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

.font-blue {
    color: #00b2e4;
}

.deckgrid {
    height: 100%;
    overflow-y: auto;
    margin-left: 30px;
}

.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '3 .column.column-1-3';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
    margin-top: 30px;
}

.deckgrid .column-1-3 {
    width: 33.3%;
}

.card {
    background: #a0a1a3 url('/images/spinner.gif') center 75px no-repeat;
    border:1px solid rgba(0, 0, 0, .15);
    border-radius:3px;
    margin:0 25px 25px 0;
    position:relative;
}

.card-photo-wrapper {
    min-height: 150px;
}

.card-photo {
    min-height:150px;
    height:auto;
    max-width:100%;
}


.animation-fade {
    opacity:0;
}

.animation-faded {
    opacity:1;
}

.animation-faded {
   -webkit-transition: opacity 1s linear .2s;
   -moz-transition: opacity 1s linear .2s;
   -o-transition: opacity 1s linear .2s;
   transition: opacity 1s linear .2s;
}


.card-content-container {
    background: #fff;
    padding: 15px;
    overflow: auto;
}

.card-content-container div {
    top: auto;
    bottom: auto;
}

.ngdialog.signup,
.ngdialog.newpost,
.ngdialog.postdetail {
    padding-top: 5%;
    padding-bottom: 0;
}
.ngdialog.newpost .ngdialog-overlay {
    background: rgba(0,0,0,0.95);
}

.ngdialog.postdetail .ngdialog-content {
    max-width: 100%;
    width: 80%;
    height: 90%;
    padding: 0;
    border-radius: 12px;
}

.ngdialog.newpost .ngdialog-content {
    width: 80%;
    padding: 0 0 30px 0;
    border-radius: 12px;
}

.ngdialog.signin .ngdialog-content {
    width: 35%;
    padding: 0 0 30px 0;
    border-radius: 12px;
}

.ngdialog.signup .ngdialog-content {
    width: 35%;
    padding: 0 0 30px 0;
    border-radius: 12px;
}

.post-detail-container {
    overflow-y: auto;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.post-detail-container .post-detail-img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
}

.post-detail-container .post-detail-desc {
    padding: 20px 30px 5px 30px;
}

.post-detail-container .post-detail-desc .description {
    padding: 20px 30px;
}

.post-detail-container .post-detail-desc .description pre{
    padding: 20px;
}

.writer-wrap {
    border-radius: 50%;
    border: 2px solid #fff;        
    height: 90px;
    width: 90px;
    display: inline-block;
    overflow: hidden;
}

.writer-wrap img {
    height: 100%;
    width: 100%;
}

.text-center {
    text-align: center;
}

input[type="file"] {
    padding-top: 7px;
}

.modal-title {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    background: rgba(0, 0, 0, .05);
    font-size: x-large;
    color: #000;
    padding: 1px 60px;
    margin-bottom: 40px;
}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


.drop-zone {
    border: dotted 3px lightgray;
    height: 70px;
    line-height: 70px;
    font-size: 15px;
    vertical-align: middle;
    padding-left: 20px;
}