<div class="post-detail-container">
  <img class="post-detail-img" ng-src="{{ selectedCard.src }}" />
  <div class="post-detail-desc">
    <div class="row">
      <div class="col-md-2 text-center">
        <a href class="writer-wrap">
          <img ng-src="{{ selectedCard.writer_img }}" />
        </a>
        <br>
        {{ selectedCard.writer }}
      </div>
      <div class="col-md-8">
        <h1 class="h2">{{ selectedCard.name }}</h1>
      </div>
      <div class="col-md-2">
        <h4>{{ selectedCard.price }} won</h4>
      </div>
    </div>

    <div class="row description">
      <p>6호선 응암역 2분거리에 위치한 복층 오피스텔입니다.
        <br>이마트 다이소 편의점 등 편의시설이 가까이에 있습니다.
        <br>1층에 경비실이 있고 입구에서 카드키로 출입하기때문에 안전하기도 해요. 내부는 핑크 투성이에 녹색 식물과 꽃으로 가득합니다. 이것저것 꾸며놔서 아기자기하고 싱그러운 공간이에요. :) 어서오세요
        <br>이마트 다이소 편의점 등 편의시설이 가까이에 있습니다.
        <br>1층에 경비실이 있고 입구에서 카드키로 출입하기때문에 안전하기도 해요. 내부는 핑크 투성이에 녹색 식물과 꽃으로 가득합니다. 이것저것 꾸며놔서 아기자기하고 싱그러운 공간이에요. :) 어서오세요
      </p>
    </div>
  </div>
</div>
  
