<div class="post-detail-container">
  <button type="button" class="btn btn-primary btn-lg txbtn tx-request"
          ng-show="selectedCard.writer.username != currentUser.username && (txstatus == 'ask' || txstatus == 'cancel')"
          ng-click="sendTx('request')">Request</button>
  <button type="button" class="btn btn-danger btn-lg txbtn tx-cancel"
          ng-show="selectedCard.writer.username != currentUser.username && txstatus == 'request'"
          ng-click="sendTx('cancel')">Cancel</button>
  <img class="post-detail-img" ng-src="{{ selectedCard.images[0] }}" />
  <div class="post-detail-desc">
    <div class="row">
      <div class="col-md-2 text-center">
        <a href class="writer-wrap">
          <img ng-src="{{ selectedCard.writer.profile.profile_img_url }}" />
        </a>
        <br>
        {{ selectedCard.writer.username }}
      </div>
      <div class="col-md-8">
        <h1 class="h2">{{ selectedCard.title }}</h1>
      </div>
      <div class="col-md-2">
        <h4>{{ selectedCard.price }} won</h4>
      </div>
    </div>

    <div class="row description">
      <pre>{{ selectedCard.content }}</pre>
    </div>
  </div>
</div>
